@charset 'UTF-8';


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(240, 128, 128, 0.674);
    margin: 0px;
}
header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}
nav{
    background-color: salmon;
    padding: 3px;
    box-shadow: 5px 3px 5px 0px rgba(0, 0, 0, 0.296);
   }
   nav > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
   }
main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 40px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.54);
}
article{
    background-color: plum;
}
article > aside{
    background-color: rgba(128, 0, 128, 0.66);
}
footer{
    background-color: pink;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}
footer > p{
    margin: 0px;
}
div#bola{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}