@charset "UTF-8";

style{
    font-family: Arial, Helvetica, sans-serif;

}
p{
    text-align: justify;
}
body{ 
    background-image: linear-gradient(to right,#B12A1D, #DB1100);
    width: 600px;
   padding: 10px;
   margin: auto;
}
main{
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 15px hwb(0 17% 80% / 0.659) ;
    width: 600px;
   padding: 10px;
   margin: auto;
}
h1{
    text-align: center;
    text-shadow: 1px 1px 2px  rgba(103, 41, 36, 0.627);
color: #86342D;
}
h2{
color: #DB1100;
}
p{
    text-align: justify;
}
